@keyframes flower-head-animation {
  0% {
    transform: translate(-40px, 0);
    rotate: -15deg;
  }
  
  100% {
    rotate: 5deg;
    transform: translate(24px, -24px);
  }
}

@keyframes petal-animation {
  0% {
    rotate: -4deg;
  }

  100% {
    rotate: 4deg;
    // transform: translate(100px, 10px);
  }
}

#Flower-head {
  transform-origin: center;
  // animation: 6s ease-in-out infinite flower-head-animation alternate;

  #Petal-group {
    #Petal {
      // animation: 4s ease-in-out infinite alternate petal-animation;
    }
  }
}