.content-5-container {
  height: 2560px;
  width: 100vw;
  position: relative;

  & > div[data-stick-prop] {
    position: sticky;
    top: 0;
    height: 1024px;
    width: 100%;
    opacity: 0.4;
  }
}

.test {
  position: sticky;
  top: 0px;
  height: 100px;
  aspect-ratio: 1 / 1;
  background-color: red;
}

#content-5 {
  height: 100%;

  .text-column {
    position: relative;

    &:nth-child(1) {
      grid-area: 1 / 7 / 2 / 12;

      & > div {
        text-align: right;
        position: absolute;
        top: 50px;

        img {
          position: absolute;
          top: 50%;
          translate: -450px -50%;
        }
      }
    }

    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 6;

      p {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
      }
    }

    &:nth-child(3) {
      grid-area: 1 / 9 / 2 / 12;

      p {
        position: absolute;
        right: 0;
        bottom: 120px;
        text-align: right;

        span {
          color: var(--clr-her);
          text-decoration: underline;
        }
      }
    }
  }
}
