#content-2 {
  height: 1024px;

  img {
    top: 150px;
    opacity: 90%;
  }

  .arrow-two-column {
    grid-area: 1 / 1 / 2 / 12;
    position: relative;

    #arrow-two {
      position: absolute;
      bottom: 10px;
      right: 15px;
      z-index: 10000;

      path {
        animation: 800ms cubic-bezier(0.39, 0.575, 0.565, 1) drawPath forwards
          infinite;
      }
    }

    p {
      position: absolute;
      bottom: -48px;
      left: 120px;
    }
  }

  .title-column {
    grid-area: 1 / 2 / 2 / 4;
    position: relative;

    h6 {
      top: 80px;
      position: relative;
      display: inline-block;

      #number-one {
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translate(-100%, -50%);
        width: 47px;
        aspect-ratio: 1 / 1;

        @include flexCenter();

        .number {
          width: 100%;
          height: 100%;

          background-image: url("../assets/number-1.svg");
          background-position: center;
          background-repeat: no-repeat;
        }

        .circle {
          position: absolute;
          width: 100%;
          height: 100%;

          background-image: url("../assets/number-circle.svg");
          @include bgBoilerPlate();

          animation: 3000ms steps(3) infinite animate-steps;
        }
      }

      #arrow-one {
        position: absolute;
        right: -10px;
        top: -60px;
        transform: translate(100%, 0);

        path {
          animation: 1400ms cubic-bezier(0.205, 0.6, 0.165, 0.8) drawPath
            forwards infinite;
        }
      }
    }
  }

  .bday-column {
    position: relative;
    grid-area: 1 / 6 / 2 / 12;

    #bday-letter {
      position: absolute;
      right: 0;
      top: 55%;
      transform: translateY(-50%);
      text-align: right;

      & > img {
        position: absolute;
        left: 0;
        top: 0;
        scale: 0.9;
        transform: translate(-125%);
      }

      .letter {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .letter-body {
          display: flex;
          flex-direction: column;
          gap: 20px;

          p {
            position: relative;

            .alien-wtf {
              position: absolute;
              right: 5px;
              top: -10px;
              transform: translate(100%, 0);
            }
          }
        }
      }

      h5 {
        line-height: 200%;

        span {
          position: relative;
          color: #f9cff4;
          font-weight: 700;

          img {
            position: absolute;
            top: 15px;
            transform: translateY(-100%);
            right: -20px;
            width: 158px;
          }
        }
      }

      p {
        text-wrap: wrap;
        line-height: 1.7;
        font-weight: 400;

        span {
          font-size: 14px;

          &:nth-child(1) {
            opacity: 60%;
          }
        }
      }

      .author {
        font-size: 14px;
        line-height: normal;

        span {
          position: relative;
          color: #b1d7ff;
        }
      }
    }
  }
}
