#arrow-three {
  position: absolute;
  top: -70px;
  left: 0;
  translate: -100% -100%;

  &.in-view {
    path {
      animation: 1200ms ease-out forwards drawPath;
    }
  }
}

#content-4 {
  height: 1024px;

  .text-column {
    position: relative;

    &:nth-child(1) {
      grid-area: 1 / 7 / 2 / 12;

      & > div {
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        text-align: right;

        .alien-awkward-container {
          cursor: pointer;
          z-index: -1;
          position: absolute;
          top: -670px;
          left: 60%;
          translate: -50% -100%;

          @include parallax(-1.8);

          #alien-awkward {
            @include vanish-sprite();
            @include transition-sprite();
          }
        }

        .oval-blur {
          z-index: -2;
          position: absolute;
          top: 50%;
          left: calc(50% + 20px);
          translate: -50% -50%;
          height: 290px;
          width: 500px;
          background-color: #3dffa2;
          opacity: 0.1;
          border-radius: 50%;
          filter: blur(40px);
        }
      }
    }

    &:nth-child(2) {
      grid-area: 1 / 1 / 2 / 6;

      p {
        position: absolute;
        top: 70%;
        transform: translateY(-50%);

        .shark-cry-container {
          cursor: pointer;
          position: absolute;
          top: -1050px;
          right: 0;
          translate: 100% -50%;
          @include parallax(-2.5);

          #shark-cry {
            @include transition-sprite();
            @include vanish-sprite();
          }
        }
      }
    }
  }
}
