.content-5-container {
  height: calc(1024px * 3);
  width: 100%;
}

.white-space {
  width: 100%;
  height: 150vh;
}

#content-5 {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100vw;

  .continue-column {
    grid-area: 1 / 1 / 2 / 4;
    position: relative;

    .arrow-five-container {
      position: absolute;
      bottom: 10px;
      left: 80%;
      #arrow-five {
        &.in-view {
          path {
            animation: 1000ms cubic-bezier(0.205, 0.6, 0.165, 0.9) forwards
              drawPath;

            &:nth-child(2) {
              animation: 1400ms ease-out 400ms drawPath forwards;
            }
          }
        }
      }
    }

    #continue-svg {
      position: absolute;
      bottom: 9%;
      left: 15%;
    }
  }

  .text-column {
    position: relative;

    &:nth-child(1) {
      grid-area: 1 / 7 / 2 / 12;

      & > div {
        text-align: right;
        position: absolute;
        top: 50px;

        .pusheen-cool-container {
          position: absolute;
          cursor: pointer;
          z-index: 100;
          top: 1860px;
          translate: -450px -50%;

          @include parallax(4);

          #pusheen-cool {
            @include vanish-sprite();
            @include transition-sprite();
          }
        }
      }
    }

    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 6;

      p {
        position: absolute;
        top: 60%;
        translate: 0 -50%;
      }
    }

    &:nth-child(3) {
      grid-area: 1 / 9 / 2 / 12;

      p {
        position: absolute;
        right: 0;
        bottom: 12%;
        text-align: right;

        span {
          color: var(--clr-her);
          text-decoration: underline;
        }
      }
    }
  }
}
