@mixin animate-text-start($transform) {
  opacity: 0;
  filter: blur(8px);
  transform: translateY(#{$transform});
}

#content-1 {
  &.active {
    .title-column {
      h4 {
        animation: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms forwards
          animate-text;
      }

      .subtitle {
        animation: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 300ms forwards
          animate-text;
      }
    }

    .text-column {
      .text {
        p {
          animation: 1200ms cubic-bezier(0.075, 0.82, 0.165, 1) 2500ms forwards
            animate-rotate;
        }
      }
    }
  }

  .title-column {
    grid-area: 1 / 1 / 2 / 8;

    .title-container {
      position: relative;
      left: 0;
      top: 100px;

      h4 {
        @include animate-text-start(-200%);
        display: inline-block;
        position: relative;

        #exclamation {
          position: absolute;
          right: -72px;
          top: 0;
          width: 65px;
          aspect-ratio: 1 / 1;
          background-image: url("../assets/exclamation.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      .subtitle {
        @include animate-text-start(-200%);
        opacity: 0;
        position: absolute;
        bottom: -8px;
        left: 80px;

        span {
          position: relative;

          #you-highlight {
            position: absolute;
            width: 51px;
            height: 12px;
            bottom: 4px;
            left: -14px;
            transform: translateY(100%);
          }
        }
      }
    }
  }

  .text-column {
    grid-area: 1 / 8 / 2 /13;
    position: relative;

    .text {
      position: absolute;
      right: 0;
      top: 60%;
      transform: translateY(-50%);

      width: 560px;
      height: 50px;
      text-wrap: wrap;
      text-align: right;

      p {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        rotate: -3deg;
        transform-origin: top right;
      }

      svg {
        position: absolute;
        top: 12px;
        left: 18px;
        transform: translate(-100%, -100%);
      }
    }
  }

  .overlay-column {
    grid-area: 1 / 8 / 2 / 13;
    position: relative;

    .overlay {
      position: absolute;
      width: 100%;
      height: 37%;
      bottom: 0;
      left: 0;
      background: var(--content-bg);

      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        height: 50px;
        aspect-ratio: 1 / 1;
        background: var(--content-bg);
      }

      .column {
        height: 100%;
        width: 100%;
        background-color: var(--content-columns-bg);
      }
    }
  }

  .cat-column {
    grid-area: 1 / 2 / 2 / 4;
    position: relative;

    .cat {
      position: absolute;
      bottom: 190px;
      left: 0;
      width: 100%;
      aspect-ratio: 1 / 1;

      background-image: url(../assets/tenor.gif);
      background-size: cover;
      background-repeat: no-repeat;

      @include parallax(-0.9);

      .hidden {
        position: absolute;
        bottom: -66px;
        right: -24px;
        text-wrap: nowrap;
        transform: translateX(100%);

        span {
          position: relative;

          #arrow-kozmo {
            position: absolute;
            pointer-events: none;
            width: 370px;
            height: 125px;
            top: 50%;
            transform: translateY(-30%);
            right: 4px;
          }

          #kozmo-encircle {
            position: absolute;
            pointer-events: none;
            width: 49px;
            height: 37px;

            background-image: url(../assets/kozmo-encircle.svg);
            background-size: cover;
            background-repeat: no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  .shark-column {
    grid-area: 1 / 9 / 2 / 12;
    z-index: 1100;
    position: relative;

    #shark-boom {
      z-index: 0;
      position: absolute;
      left: 0;
      top: 100px;
      background-image: url(../assets/shark.png);
      height: 244.95px;
      aspect-ratio: 1 / 1;
      cursor: pointer;

      @include parallax(-3);
      @include transition-sprite();
      @include vanish-sprite();

      #woah-frame {
        position: absolute;
        right: -72px;
        top: 30%;
        width: 125px;
        aspect-ratio: 1 / 1;
        background-image: url(../assets/woah-frame.svg);
      }
    }
  }
}
