.flower-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1000;

  .white-space {
    background: #a87465;
    @include flexCenter();

    &::after {
      content: "*insert whitespace (empty space)*";
      color: var(--clr-light);
    }
  }
}

#flower-content {
  height: 1024px;

  .cat-flower-column {
    grid-area: 1 / 1 / 2 / 13;
    position: relative;

    #flower-cat {
      position: absolute;
      top: 50%;
      translate: 0 -50%;

      height: 477px;
      width: 100%;

      background-image: url("../assets/cat-flower.gif");
      background-repeat: no-repeat;

      .flower-text-one {
        letter-spacing: 6px;
        text-transform: capitalize;
        position: absolute;
        top: -20px;
        left: -24px;
        translate: 0 -100%;

        #singular-heart {
          position: absolute;
          right: -16px;
          top: -24px;
        }
      }

      .text-container {
        position: absolute;
        bottom: 0;
        right: 32px;
        translate: 0 50%;
        width: 260px;
        text-align: right;
        color: var(--clr-dark);

        #arrow-four {
          width: 60px;
          aspect-ratio: 1 / 1;
          position: absolute;
          bottom: -10px;
          left: calc(50% - 10px);
          translate: -50% 100%;

          background-image: url("../assets/arrow-four.svg");
          background-repeat: no-repeat;
          animation: 1500ms steps(3) infinite animate-steps;
        }

        .scroll-button {
          position: absolute;
          left: 50px;
          bottom: -50%;
          translate: -100% 200%;
          padding: 8px 56px;
          border-radius: 6px;

          background-color: #31253a;
          font-size: 14px;
          font-weight: 400;
          color: var(--clr-light);
          letter-spacing: 2px;
          text-wrap: nowrap;
          cursor: pointer;

          transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-property: scale;

          &::after {
            content: "Click, for the better experience or maybe not and just scroll";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
          }

          &::before {
            content: "";
            height: 100%;
            width: 0;
            position: absolute;
            top: 0;
            left: 0;
            background: var(--clr-light);
            border-radius: 6px;
            transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) width;
          }

          &:hover {
            scale: 1.03;
            color: var(--clr-dark);

            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

#flower-page {
  background: #a87465;
  position: relative;
  width: 100vw;
  height: 100vh;

  #spline-flower {
    position: relative;
    z-index: 1000;
    @include flexCenter();
    canvas {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }

  .text-container {
    z-index: 100;
    position: absolute;

    p {
      color: var(--clr-dark);
      font-weight: 500;
    }

    &:nth-child(1) {
      bottom: 25%;
      right: 5%;
      translate: -50% -50%;

      p {
        text-align: right;
        opacity: 0;
        filter: blur(8px);
        transform: translateX(100%);

        transition: 1800ms cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-property: opacity, filter, transform;
      }

      &.active {
        p {
          opacity: 1;
          filter: none;
          transform: translateX(0);

          &:nth-child(2) {
            transition-delay: 100ms;
          }

          &:nth-child(3) {
            transition-delay: 150ms;
          }
        }
      }
    }

    &:nth-child(2) {
      left: 50%;
      top: 15%;
      translate: -50% -50%;

      &.active {
        p {
          transform: translateY(0);
        }
      }

      p {
        letter-spacing: 3px;
        transform: translateY(40px);
        transition: 1500ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms transform;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 0;
        translate: 0 100%;
        background-color: #a87465;
      }
    }
  }
}
