@keyframes animate-steps {
  to {
    background-position: 100%;
  }
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes static-effect {
  from {
    transform: translate(-20%, -20%);
  }

  25% {
    transform: translate(-50%, -20%);
  }

  50% {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(-10%, -50%);
  }
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
}

@keyframes scroll-indicator {
  10% {
    bottom: 0;
    opacity: 0;
  }

  20% {
    bottom: 100%;
  }

  35% {
    opacity: 1;
  }
}

.contents-container {
  overflow-x: clip;

  &::-webkit-scrollbar {
    display: none;
  }
}

.content-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;

  .content-structure {
    height: 100%;
    width: 100%;
    padding: 0 100px;

    display: grid;
    gap: 2px;
    grid-template-columns: repeat(12, 1fr);
    color: var(--clr-light);

    .hidden {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: var(--clr-light);
      opacity: 75%;
    }

    p {
      font-size: 16px;
      font-weight: 500;
    }
    h4 {
      font-size: var(--fs-700);
      font-weight: 500;
    }
    h5 {
      font-size: var(--fs-600);
      font-weight: 500;
    }
    h6 {
      font-size: var(--fs-500);
      font-weight: 500;
    }
  }

  .content-structure-background {
    z-index: -10;
    position: absolute;
    inset: 0;

    background-color: var(--content-bg);
    padding: 0 100px;

    display: grid;
    gap: 2px;
    grid-template-columns: repeat(12, 1fr);

    &.linear-bg {
      background-image: var(--linear-bg);
    }

    &.red-bg {
      background-color: var(--red-bg);
    }

    &.beige-bg {
      background-image: var(--beige-bg);

      .column {
        opacity: 0;
      }
    }

    .column {
      background: var(--content-columns-bg);
    }
  }
}

@import "./Content-1";
@import "./Content-2";
@import "./Content-3";
@import "./Content-4";
@import "./Content-5";
@import "./Flower-content";
