@mixin pseudoElemColumn() {
  display: flex;
  gap: 4px;
  position: relative;

  &::before {
    content: "";
    background: rgba(72, 91, 88, 0.15);
    flex: 1;
  }

  &::after {
    content: "";
    background: rgba(72, 91, 88, 0.15);
    flex: 1;
  }
}

@keyframes animate-steps {
  to {
    background-position: 100%;
  }
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes static-effect {
  from {
    transform: translate(-20%, -20%);
  }

  25% {
    transform: translate(-50%, -20%);
  }

  50% {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(-10%, -50%);
  }
}

@keyframes rotate {
  to {
    rotate: 360deg;
  }
}

@keyframes scroll-indicator {
  10% {
    bottom: 0;
    opacity: 0;
  }

  20% {
    bottom: 100%;
  }

  35% { 
    opacity: 1;
  }
}

.line-scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(calc(-50% + 7px), 50%);
    
  width: 2px;
  height: 160px;
  background-image: linear-gradient(
    #D6FFF8 10%,
    #d6fff800
  );

  .scroll-indicator {
    position: absolute;

    aspect-ratio: 1 / 1;
    width: 8px;
    background-color: #D6FFF8;
    border-radius: 50%;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);

    animation: 18000ms cubic-bezier(0.81,-0.27, 0.55, 1) infinite scroll-indicator;
  }
}

.content-structure {
  height: 100vh;
  width: 100vw;
  position: absolute;
  inset: 0;
  padding: 0 100px;

  display: grid;
  gap: 4px;
  grid-template-columns: repeat(12, 1fr);
  color: var(--clr-light);

  .hidden {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--clr-light);
    opacity: 75%;
  }

  p {
    font-size: 16px;
    font-weight: 500;
  }
  h4 {
    font-size: var(--fs-700);
    font-weight: 500;
  }
  h5 {
    font-size: var(--fs-600);
    font-weight: 500;
  }
  h6 {
    font-size: var(--fs-500);
    font-weight: 500;
  }
}

.content-structure-background {
  height: 100vh;
  width: 100vw;

  background-color: #1B2120;
  padding: 0 100px;

  display: grid;
  gap: 4px;
  grid-template-columns: repeat(12, 1fr);

  .column {
    background: rgba(72, 91, 88, 0.15);
  }
}

@import "./Content-1";
@import "./Content-2";
