@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --curtain: #1a1818;
  --main-bg: #cc8e7c;
  --btn-red: #FF3131;
  --btn-green: #98FB98;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: var(--main-bg);
}

img {
  display: block;
}

a {
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  font: inherit;
}

.mouse-leave-msg {
  position: absolute;
  z-index: 1000;
  padding: 3px 6px;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  filter: drop-shadow(2px 2px 24px rgba(29, 28, 28, 0.2));
  opacity: 0;
  transition-property: opacity;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 0.8);
  pointer-events: none;
}
.mouse-leave-msg.active {
  opacity: 1;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content img {
  width: 320px;
}

.btn-container {
  display: flex;
  gap: 160px;
}
.btn-container a, .btn-container button {
  padding: 14px 32px;
  border-radius: 8px;
  background: var(--btn-red);
  color: white;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  filter: drop-shadow(2px 2px 12px rgba(31, 31, 31, 0.2));
}
.btn-container a[data-btn-yes], .btn-container button[data-btn-yes] {
  background: var(--btn-green);
  color: #000000;
}
.btn-container a:hover, .btn-container button:hover {
  scale: 1.05;
  transform: translateY(-4px);
  opacity: 0.8;
}

.content.first, .content.second {
  position: relative;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}
.second-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-image: linear-gradient(to bottom, rgb(36, 24, 20), #cc8e7c);
}
.second-page.active .curtain {
  transform: translate3d(0, -100%, 0);
}
.second-page .curtain {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: #1a1818;
  transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) transform;
}
.second-page .curtain p {
  color: rgba(255, 255, 255, 0.9294117647);
}
.second-page .reading-content {
  height: 1600vh;
  width: 100vw;
  background: rgb(36, 24, 20);
}

.flower-page {
  width: 100vw;
  height: 100vh;
}
.flower-page #spline-flower {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flower-page #spline-flower canvas {
  cursor: grab;
}
.flower-page #spline-flower canvas:active {
  cursor: grabbing;
}

.text-wrapper {
  z-index: 100;
  position: absolute;
  top: 100px;
  left: 100px;
}
.text-wrapper p {
  opacity: 0;
  filter: blur(12px);
  transform: translateX(-100%);
  transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: opacity, filter, transform;
}
.text-wrapper.active p {
  opacity: 1;
  filter: none;
  transform: translateX(0);
}
.text-wrapper.active p:nth-child(2) {
  transition-delay: 100ms;
}
.text-wrapper.active p:nth-child(3) {
  transition-delay: 150ms;
}/*# sourceMappingURL=index.css.map */