@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --curtain: #1a1818;
  --main-bg: #cc8e7c;
  --btn-red: #FF3131;
  --btn-green: #98FB98;
  --clr-light: #D6FFF8;
  --clr-dark: #2B1E1C;
  --fs-500: 25.89px;
  --fs-600: 41.89px;
  --fs-700: 67.77px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: var(--main-bg);
}

::-moz-selection {
  background-color: #141818;
}

::selection {
  background-color: #141818;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  font: inherit;
}

.mouse-leave-msg {
  position: absolute;
  z-index: 1000;
  padding: 3px 12px;
  background: rgb(98, 171, 117);
  border-radius: 4px;
  font-family: consolas, monospace;
  font-size: 14px;
  filter: drop-shadow(2px 2px 24px rgba(29, 28, 28, 0.2));
  transition-property: opacity;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 0.8);
  pointer-events: none;
}
.mouse-leave-msg.active {
  opacity: 1;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content img {
  width: 320px;
}

.btn-container {
  display: flex;
  gap: 160px;
}
.btn-container a, .btn-container button {
  padding: 14px 32px;
  border-radius: 8px;
  background: var(--btn-red);
  color: white;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  filter: drop-shadow(2px 2px 12px rgba(31, 31, 31, 0.2));
}
.btn-container a[data-btn-yes], .btn-container button[data-btn-yes] {
  background: var(--btn-green);
  color: #000000;
}
.btn-container a:hover, .btn-container button:hover {
  scale: 1.05;
  transform: translateY(-4px);
  opacity: 0.8;
}

.content.first, .content.second {
  position: relative;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}
.second-page {
  height: 100%;
  width: 100vw;
}
.second-page.active .curtain {
  transform: translate3d(0, -100%, 0);
}
.second-page .curtain {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: #1a1818;
  transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) transform;
}
.second-page .curtain p {
  color: rgba(255, 255, 255, 0.9294117647);
}

.flower-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.flower-page #spline-flower {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flower-page #spline-flower canvas {
  cursor: grab;
}
.flower-page #spline-flower canvas:active {
  cursor: grabbing;
}
.flower-page .text-wrapper {
  z-index: 100;
  position: absolute;
  top: 100px;
  left: 100px;
}
.flower-page .text-wrapper p {
  opacity: 0;
  filter: blur(12px);
  transform: translateX(-100%);
  transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: opacity, filter, transform;
}
.flower-page .text-wrapper.active p {
  opacity: 1;
  filter: none;
  transform: translateX(0);
}
.flower-page .text-wrapper.active p:nth-child(2) {
  transition-delay: 100ms;
}
.flower-page .text-wrapper.active p:nth-child(3) {
  transition-delay: 150ms;
}

@keyframes animate-steps {
  to {
    background-position: 100%;
  }
}
@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes static-effect {
  from {
    transform: translate(-20%, -20%);
  }
  25% {
    transform: translate(-50%, -20%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-10%, -50%);
  }
}
@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
@keyframes scroll-indicator {
  10% {
    bottom: 0;
    opacity: 0;
  }
  20% {
    bottom: 100%;
  }
  35% {
    opacity: 1;
  }
}
.line-scroll {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 2px;
  height: 160px;
  background-image: linear-gradient(#D6FFF8 10%, rgba(214, 255, 248, 0));
}
.line-scroll .scroll-indicator {
  position: absolute;
  aspect-ratio: 1/1;
  width: 8px;
  background-color: #D6FFF8;
  border-radius: 50%;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  animation: 18000ms cubic-bezier(0.81, -0.27, 0.55, 1) infinite scroll-indicator;
}

.contents-container {
  height: 100%;
}

.content-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.content-wrapper .content-structure {
  height: 100%;
  width: 100%;
  padding: 0 100px;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(12, 1fr);
  color: var(--clr-light);
}
.content-wrapper .content-structure .hidden {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--clr-light);
  opacity: 75%;
}
.content-wrapper .content-structure p {
  font-size: 16px;
  font-weight: 500;
}
.content-wrapper .content-structure h4 {
  font-size: var(--fs-700);
  font-weight: 500;
}
.content-wrapper .content-structure h5 {
  font-size: var(--fs-600);
  font-weight: 500;
}
.content-wrapper .content-structure h6 {
  font-size: var(--fs-500);
  font-weight: 500;
}
.content-wrapper .content-structure-background {
  z-index: -10;
  position: absolute;
  inset: 0;
  background-color: #1B2120;
  padding: 0 100px;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(12, 1fr);
}
.content-wrapper .content-structure-background.linear-bg {
  background-image: linear-gradient(#1B2120 60%, #522A2A);
}
.content-wrapper .content-structure-background.red-bg {
  background-color: #522A2A;
}
.content-wrapper .content-structure-background .column {
  background: rgba(72, 91, 88, 0.15);
}

#content-1 .title-column {
  grid-area: 1/1/2/8;
}
#content-1 .title-column .title-container {
  position: relative;
  left: 0;
  top: 100px;
}
#content-1 .title-column .title-container h4 {
  display: inline-block;
  position: relative;
}
#content-1 .title-column .title-container h4 #exclamation {
  position: absolute;
  right: -72px;
  top: 0;
  width: 65px;
  aspect-ratio: 1/1;
  background-image: url("../assets/exclamation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: 1500ms steps(2) infinite animate-steps;
}
#content-1 .title-column .title-container .subtitle {
  position: absolute;
  bottom: -8px;
  left: 80px;
}
#content-1 .title-column .title-container .subtitle span {
  position: relative;
}
#content-1 .title-column .title-container .subtitle span #you-highlight {
  position: absolute;
  width: 51px;
  height: 12px;
  bottom: 4px;
  left: -14px;
  transform: translateY(100%);
}
#content-1 .title-column .title-container .subtitle span #you-highlight path {
  animation: 1200ms cubic-bezier(0, 0.69, 1, 0.65) drawPath forwards;
}
#content-1 .text-column {
  grid-area: 1/8/2/13;
  position: relative;
}
#content-1 .text-column .text {
  position: absolute;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  width: 560px;
  text-wrap: wrap;
  text-align: right;
}
#content-1 .text-column .text svg {
  position: absolute;
  top: 12px;
  left: 18px;
  transform: translate(-100%, -100%);
}
#content-1 .cat-column {
  grid-area: 1/2/2/4;
  position: relative;
}
#content-1 .cat-column .cat {
  position: absolute;
  bottom: 190px;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  background-image: url(../assets/tenor.gif);
  background-size: cover;
  background-repeat: no-repeat;
}
#content-1 .cat-column .cat .hidden {
  position: absolute;
  bottom: -66px;
  right: -24px;
  text-wrap: nowrap;
  transform: translateX(100%);
}
#content-1 .cat-column .cat .hidden span {
  position: relative;
}
#content-1 .cat-column .cat .hidden span #arrow-kozmo {
  position: absolute;
  pointer-events: none;
  width: 370px;
  height: 125px;
  top: 50%;
  transform: translateY(-30%);
  right: 4px;
  background-image: url(../assets/arrows-kozmo.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
#content-1 .cat-column .cat .hidden span #kozmo-encircle {
  position: absolute;
  pointer-events: none;
  width: 49px;
  height: 37px;
  background-image: url(../assets/kozmo-encircle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#content-1 .shark-column {
  grid-area: 1/9/2/12;
  z-index: 1100;
  position: relative;
}
#content-1 .shark-column #shark-boom {
  position: absolute;
  left: 0;
  top: 100px;
  background-image: url(../assets/shark.png);
  height: 244.95px;
  aspect-ratio: 1/1;
}
#content-1 .shark-column #shark-boom #woah-frame {
  position: absolute;
  right: -72px;
  top: 30%;
  width: 125px;
  aspect-ratio: 1/1;
  background-image: url(../assets/woah-frame.svg);
  animation: 3000ms steps(2) infinite animate-steps;
}

#content-2 img {
  top: 150px;
  opacity: 90%;
}
#content-2 .title-column {
  grid-area: 1/2/2/4;
  position: relative;
}
#content-2 .title-column h6 {
  top: 80px;
  position: relative;
  display: inline-block;
}
#content-2 .title-column h6 #number-one {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 47px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content-2 .title-column h6 #number-one .number {
  width: 100%;
  height: 100%;
  background-image: url("../assets/number-1.svg");
  background-position: center;
  background-repeat: no-repeat;
}
#content-2 .title-column h6 #number-one .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/number-circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: 3000ms steps(3) infinite animate-steps;
}
#content-2 .title-column h6 #arrow-one {
  position: absolute;
  right: -50px;
  top: -75px;
  transform: translate(100%, 0);
  height: 245px;
  width: 400px;
  scale: 0.9;
  background-image: url(../assets/arrow-one.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#content-2 .bday-column {
  position: relative;
  grid-area: 1/6/2/12;
}
#content-2 .bday-column #bday-letter {
  position: absolute;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  text-align: right;
}
#content-2 .bday-column #bday-letter > img {
  position: absolute;
  left: 0;
  top: 0;
  scale: 0.9;
  transform: translate(-125%);
}
#content-2 .bday-column #bday-letter .letter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#content-2 .bday-column #bday-letter .letter .letter-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#content-2 .bday-column #bday-letter .letter .letter-body p {
  position: relative;
}
#content-2 .bday-column #bday-letter .letter .letter-body p .alien-wtf {
  position: absolute;
  right: 5px;
  top: -10px;
  transform: translate(100%, 0);
}
#content-2 .bday-column #bday-letter h5 {
  line-height: 200%;
}
#content-2 .bday-column #bday-letter h5 span {
  position: relative;
  color: #F9CFF4;
  font-weight: 700;
}
#content-2 .bday-column #bday-letter h5 span img {
  position: absolute;
  top: 15px;
  transform: translateY(-100%);
  right: -20px;
  width: 158px;
}
#content-2 .bday-column #bday-letter p {
  text-wrap: wrap;
  line-height: 1.7;
  font-weight: 400;
}
#content-2 .bday-column #bday-letter p span {
  font-size: 14px;
}
#content-2 .bday-column #bday-letter p span:nth-child(1) {
  opacity: 60%;
}
#content-2 .bday-column #bday-letter .author {
  font-size: 14px;
  line-height: normal;
}
#content-2 .bday-column #bday-letter .author span {
  position: relative;
  color: #b1d7ff;
}
#content-2 .bday-column #bday-letter .author span #arrow-two {
  position: absolute;
  top: 5px;
  right: 14px;
  z-index: 10000;
}

@keyframes evil-cat-visible {
  to {
    transform: translateX(800%);
  }
}
#content-3 {
  height: 1024px;
  position: relative;
}
#content-3 .opportunity-column {
  grid-area: 1/3/2/7;
  position: relative;
}
#content-3 .opportunity-column p {
  position: absolute;
  top: 178px;
  left: 40px;
}
#content-3 #pogi-png {
  position: absolute;
  top: 60%;
  left: 50%;
  translate: -50% -50%;
}
#content-3 .secondly-column {
  position: relative;
  height: 100%;
  grid-area: 1/2/2/4;
}
#content-3 .secondly-column .text {
  position: absolute;
  bottom: 42px;
}
#content-3 .secondly-column .text h6 {
  line-height: 200%;
  position: relative;
}
#content-3 .secondly-column .text h6 #number-two {
  position: absolute;
  width: 48px;
  top: 3px;
  right: -10px;
  translate: 100% 0;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content-3 .secondly-column .text h6 #number-two .number {
  width: 100%;
  height: 100%;
  background-image: url("../assets/number-two.svg");
  background-position: center;
  background-repeat: no-repeat;
}
#content-3 .secondly-column .text h6 #number-two .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/number-circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: 3000ms steps(3) infinite animate-steps;
}
#content-3 img#cat-evil {
  position: absolute;
  top: 60%;
  animation: evil-cat-visible cubic-bezier(0.63, 0.14, 0.14, 0.63);
  animation-timeline: view();
  animation-range: 300px 900px;
}

#arrow-three {
  position: absolute;
  top: -70px;
  left: 0;
  translate: -100% -100%;
}

#content-4 {
  height: 1024px;
}
#content-4 .text-column {
  position: relative;
}
#content-4 .text-column:nth-child(1) {
  grid-area: 1/7/2/12;
}
#content-4 .text-column:nth-child(1) p {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  text-align: right;
}
#content-4 .text-column:nth-child(1) p img {
  position: absolute;
  top: 15px;
  left: 60%;
  translate: -50% -100%;
}
#content-4 .text-column:nth-child(1) p .oval-blur {
  position: absolute;
  top: 50%;
  left: calc(50% + 20px);
  translate: -50% -50%;
  height: 290px;
  width: 500px;
  background-color: #3dffa2;
  opacity: 0.1;
  border-radius: 50%;
  filter: blur(40px);
}
#content-4 .text-column:nth-child(2) {
  grid-area: 1/1/2/6;
}
#content-4 .text-column:nth-child(2) p {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
}
#content-4 .text-column:nth-child(2) p img {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 100% -50%;
}

#music {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 200.63px;
  height: 200.67px;
  cursor: pointer;
  scale: 0.9;
  opacity: 0.8;
  transition: 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: opacity, scale;
  display: flex;
  align-items: center;
  justify-content: center;
}
#music.playing {
  scale: 1;
}
#music:hover {
  opacity: 1;
}
#music:hover .music-about {
  animation-play-state: paused;
}
#music:hover .music-image .action-btn {
  opacity: 1;
}
#music .music-about {
  position: absolute;
  pointer-events: none;
  scale: 0.7;
  opacity: 0;
  transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: opacity, scale;
  animation: 46000ms linear infinite rotate;
}
#music .music-about.active {
  scale: 1;
  opacity: 1;
}
#music .music-about text {
  fill: #D6FFF8;
  white-space: "pre";
  font-family: "Poppins";
  font-size: 16;
  font-weight: 500;
  letter-spacing: 0em;
}
#music .music-image {
  position: relative;
  aspect-ratio: 1/1;
  width: 136px;
  border-radius: 50%;
  opacity: 0.8;
  transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1) opacity;
}
#music .music-image .action-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background: rgba(51, 34, 24, 0.8);
  opacity: 0;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) opacity;
}
#music .music-image img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}/*# sourceMappingURL=index.css.map */