@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --curtain: #1a1818;
  --main-bg: #cc8e7c;

  --btn-red: #FF3131;
  --btn-green: #98FB98;

  --clr-light: #D6FFF8;
  --clr-dark: #2B1E1C;

  // Font size
  --fs-500: 25.89px;
  --fs-600: 41.89px;
  --fs-700: 67.77px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 16px;

  overflow-x: hidden;
  background-color: var(--main-bg);
}

::selection {
  background-color: #141818;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin bgBoilerPlate() {
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  height: 100vh;
  width: 100vw;

  @include flexCenter();
}

button {
  appearance: none;
  background: none;
  border: none;
  font: inherit;
}

.mouse-leave-msg {
  position: absolute;
  z-index: 1000;
  padding: 3px 12px;
  background: rgb(98, 171, 117);
  border-radius: 4px;

  font-family: consolas, monospace;
  font-size: 14px;

  filter: drop-shadow(2px 2px 24px rgba(29, 28, 28, 0.2));
  // opacity: 0;
  transition-property: opacity;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 0.8);
  pointer-events:none;
  
  &.active {
    opacity: 1;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 320px;
  }
}

.btn-container {
  display: flex;
  gap: 160px;


  a, button {
    padding: 14px 32px;
    border-radius: 8px;
    background: var(--btn-red);
    color: white;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    filter: drop-shadow(2px 2px 12px rgba(31, 31, 31, 0.2));

    &[data-btn-yes] {
      background: var(--btn-green);
      color: #000000;
    }

    &:hover {
      scale: 1.05;
      transform: translateY(-4px);
      opacity: 0.8;
    }
  }
}

.content {
  &.first,
  &.second {
    position: relative;
    padding: 24px;
  
    @include flexCenter();
    flex-direction: column;
    gap: 24px;
  }
}

@import "./SecondPage";
@import "./ReadingContent";
@import "./AudioPlayer";