@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --curtain: #1a1818;
  --main-bg: #eaa896;
  --btn-red: #ff3131;
  --btn-green: #98fb98;
  --clr-light: #d6fff8;
  --clr-dark: #150f0f;
  --clr-her: #f9cff4;
  --fs-400: 16px;
  --fs-500: 25.89px;
  --fs-600: 41.89px;
  --fs-700: 67.77px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  font-size: var(--fs-400);
  background-color: var(--main-bg);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: #141818;
}

::selection {
  background-color: #141818;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  font: inherit;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content img {
  width: 320px;
}

.btn-container {
  display: flex;
  gap: 160px;
}
.btn-container a,
.btn-container button {
  padding: 14px 32px;
  border-radius: 8px;
  background: var(--btn-red);
  color: #ffffff;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  filter: drop-shadow(2px 2px 12px rgba(31, 31, 31, 0.2));
}
.btn-container a[data-btn-yes],
.btn-container button[data-btn-yes] {
  background: var(--btn-green);
  color: #000000;
}
.btn-container a:hover,
.btn-container button:hover {
  scale: 1.05;
  transform: translateY(-4px);
  opacity: 0.8;
}

.content.first, .content.second {
  position: relative;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

@keyframes animate-text {
  to {
    opacity: 1;
    filter: none;
  }
}
.mouse-msg-container {
  position: absolute;
  z-index: 10000;
  height: calc(500vh + 4096px);
  width: 100%;
  pointer-events: none;
}
.mouse-msg-container .mouse-msg-limit {
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: 0;
}

.mouse-leave-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 500;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  font-family: consolas, monospace;
  font-size: 14px;
  background: rgb(184, 125, 44);
  filter: drop-shadow(0 0 10px rgba(29, 28, 28, 0.3));
  pointer-events: none;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mouse-leave-msg .mouse-msg {
  text-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0;
  filter: blur(6px);
  transition: 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 100ms;
  transition-property: opacity, filter;
}
.mouse-leave-msg.mouse-out {
  border-radius: 6px;
  padding: 6px 16px;
  width: 340px;
  height: 24px;
}
.mouse-leave-msg.mouse-out .mouse-msg {
  opacity: 1;
  filter: none;
}
.mouse-leave-msg.over-yes {
  border-radius: 6px;
  padding: 6px 16px;
  width: 140px;
  height: 24px;
}
.mouse-leave-msg.over-yes .mouse-msg {
  opacity: 1;
  filter: none;
}
.mouse-leave-msg.over-no {
  border-radius: 6px;
  padding: 6px 16px;
  width: 140px;
  height: 24px;
}
.mouse-leave-msg.over-no .mouse-msg {
  opacity: 1;
  filter: none;
}
.mouse-leave-msg.over-music {
  border-radius: 6px;
  padding: 6px 16px;
  width: 360px;
  height: 24px;
}
.mouse-leave-msg.over-music .mouse-msg {
  opacity: 1;
  filter: none;
}
.mouse-leave-msg.over-scroll-btn {
  border-radius: 6px;
  padding: 6px 16px;
  width: 320px;
  height: 24px;
}
.mouse-leave-msg.over-scroll-btn .mouse-msg {
  opacity: 1;
  filter: none;
}
.mouse-leave-msg.over-flower {
  border-radius: 6px;
  padding: 6px 16px;
  width: 240px;
  height: 24px;
}
.mouse-leave-msg.over-flower .mouse-msg {
  opacity: 1;
  filter: none;
}
.mouse-leave-msg.over-sprite {
  border-radius: 6px;
  padding: 6px 16px;
  width: 80px;
  height: 24px;
}
.mouse-leave-msg.over-sprite .mouse-msg {
  opacity: 1;
  filter: none;
}
.mouse-leave-msg.idle {
  border-radius: 6px;
  padding: 6px 16px;
  width: 220px;
  height: 24px;
}
.mouse-leave-msg.idle .mouse-msg {
  opacity: 1;
  filter: none;
}
.mouse-leave-msg.mouse-down {
  width: 16px;
  height: 16px;
  opacity: 0;
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}
@keyframes translateY {
  12% {
    translate: 0 0;
  }
  88% {
    opacity: 1;
    translate: 0 0;
  }
  100% {
    opacity: 0;
    translate: 0 100%;
  }
}
@keyframes parallax {
  to {
    transform: translateY(calc(-1000px * var(--parallax-strength)));
  }
}
@keyframes gone-animation {
  20% {
    scale: 1.1;
  }
  to {
    scale: 0;
  }
}
.second-page {
  --bg: #0d0c0c;
  height: 100%;
  width: 100vw;
}
.second-page.active #arrow-kozmo path {
  animation: 1000ms cubic-bezier(0.205, 0.6, 0.165, 0.9) forwards drawPath;
}
.second-page.active #arrow-kozmo path:nth-child(2) {
  animation: 800ms ease-out 1000ms forwards drawPath;
}
.second-page.active #you-highlight path {
  animation: 800ms ease-out drawPath forwards;
}
.second-page.active #woah-frame {
  animation: 1500ms steps(2) infinite animate-steps;
}
.second-page.active #exclamation {
  animation: 1500ms steps(2) infinite animate-steps;
}
.second-page .curtain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2000;
  background-color: var(--bg);
  color: var(--clr-light);
  line-height: 1.8;
  transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) transform;
}
.second-page .curtain.active {
  transform: translateY(-100%);
}
.second-page .curtain .loading-done {
  position: relative;
}
.second-page .curtain .loading-done h1 {
  translate: 0 100%;
  animation: 8000ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms translateY;
}
.second-page .curtain .loading-done::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  translate: 0 100%;
  width: 100%;
  height: 100%;
  background: var(--bg);
}
.second-page .curtain .subtext {
  position: relative;
  z-index: 10;
}
.second-page .curtain .subtext p {
  translate: 0 100%;
  animation: 5600ms cubic-bezier(0.075, 0.82, 0.165, 1) translateY;
  animation-delay: 2400ms;
}
.second-page .curtain .subtext::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  translate: 0 100%;
  width: 100%;
  height: 100%;
  background: var(--bg);
}

@keyframes animate-steps {
  to {
    background-position: 100%;
  }
}
@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes static-effect {
  from {
    transform: translate(-20%, -20%);
  }
  25% {
    transform: translate(-50%, -20%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-10%, -50%);
  }
}
@keyframes rotate {
  to {
    rotate: 360deg;
  }
}
@keyframes scroll-indicator {
  10% {
    bottom: 0;
    opacity: 0;
  }
  20% {
    bottom: 100%;
  }
  35% {
    opacity: 1;
  }
}
.contents-container {
  overflow-x: clip;
}
.contents-container::-webkit-scrollbar {
  display: none;
}

.content-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.content-wrapper .content-structure {
  height: 100%;
  width: 100%;
  padding: 0 100px;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(12, 1fr);
  color: var(--clr-light);
}
.content-wrapper .content-structure .hidden {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--clr-light);
  opacity: 75%;
}
.content-wrapper .content-structure p {
  font-size: 16px;
  font-weight: 500;
}
.content-wrapper .content-structure h4 {
  font-size: var(--fs-700);
  font-weight: 500;
}
.content-wrapper .content-structure h5 {
  font-size: var(--fs-600);
  font-weight: 500;
}
.content-wrapper .content-structure h6 {
  font-size: var(--fs-500);
  font-weight: 500;
}
.content-wrapper .content-structure-background {
  z-index: -10;
  position: absolute;
  inset: 0;
  background-color: #1b2120;
  padding: 0 100px;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(12, 1fr);
}
.content-wrapper .content-structure-background.linear-bg {
  background-image: linear-gradient(#1b2120 60%, #522a2a);
}
.content-wrapper .content-structure-background.red-bg {
  background-color: #522a2a;
}
.content-wrapper .content-structure-background.beige-bg {
  background-image: linear-gradient(#64443b, #a87465);
}
.content-wrapper .content-structure-background.beige-bg .column {
  opacity: 0;
}
.content-wrapper .content-structure-background .column {
  background: rgba(72, 91, 88, 0.15);
}

#content-1 .title-column {
  grid-area: 1/1/2/8;
}
#content-1 .title-column .title-container {
  position: relative;
  left: 0;
  top: 100px;
}
#content-1 .title-column .title-container h4 {
  display: inline-block;
  position: relative;
}
#content-1 .title-column .title-container h4 #exclamation {
  position: absolute;
  right: -72px;
  top: 0;
  width: 65px;
  aspect-ratio: 1/1;
  background-image: url("../assets/exclamation.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
#content-1 .title-column .title-container .subtitle {
  position: absolute;
  bottom: -8px;
  left: 80px;
}
#content-1 .title-column .title-container .subtitle span {
  position: relative;
}
#content-1 .title-column .title-container .subtitle span #you-highlight {
  position: absolute;
  width: 51px;
  height: 12px;
  bottom: 4px;
  left: -14px;
  transform: translateY(100%);
}
#content-1 .text-column {
  grid-area: 1/8/2/13;
  position: relative;
}
#content-1 .text-column .text {
  position: absolute;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
  width: 560px;
  text-wrap: wrap;
  text-align: right;
}
#content-1 .text-column .text svg {
  position: absolute;
  top: 12px;
  left: 18px;
  transform: translate(-100%, -100%);
}
#content-1 .cat-column {
  grid-area: 1/2/2/4;
  position: relative;
}
#content-1 .cat-column .cat {
  position: absolute;
  bottom: 190px;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  background-image: url(../assets/tenor.gif);
  background-size: cover;
  background-repeat: no-repeat;
  --parallax-strength: -0.9;
  animation: parallax linear;
  animation-timeline: scroll();
}
#content-1 .cat-column .cat .hidden {
  position: absolute;
  bottom: -66px;
  right: -24px;
  text-wrap: nowrap;
  transform: translateX(100%);
}
#content-1 .cat-column .cat .hidden span {
  position: relative;
}
#content-1 .cat-column .cat .hidden span #arrow-kozmo {
  position: absolute;
  pointer-events: none;
  width: 370px;
  height: 125px;
  top: 50%;
  transform: translateY(-30%);
  right: 4px;
}
#content-1 .cat-column .cat .hidden span #kozmo-encircle {
  position: absolute;
  pointer-events: none;
  width: 49px;
  height: 37px;
  background-image: url(../assets/kozmo-encircle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#content-1 .shark-column {
  grid-area: 1/9/2/12;
  z-index: 1100;
  position: relative;
}
#content-1 .shark-column #shark-boom {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 100px;
  background-image: url(../assets/shark.png);
  height: 244.95px;
  aspect-ratio: 1/1;
  cursor: pointer;
  --parallax-strength: -3;
  animation: parallax linear;
  animation-timeline: scroll();
  transform-origin: center;
  transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: scale, opacity;
}
#content-1 .shark-column #shark-boom:hover {
  scale: 1.1;
  opacity: 0.8;
}
#content-1 .shark-column #shark-boom.vanished {
  animation: 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards gone-animation;
}
#content-1 .shark-column #shark-boom #woah-frame {
  position: absolute;
  right: -72px;
  top: 30%;
  width: 125px;
  aspect-ratio: 1/1;
  background-image: url(../assets/woah-frame.svg);
}

#content-2 {
  height: 1024px;
}
#content-2 img {
  opacity: 90%;
}
#content-2 .bday-image-column {
  grid-area: 1/1/2/5;
  position: relative;
}
#content-2 .bday-image-column .cat-cake-container {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0;
  cursor: pointer;
  --parallax-strength: -1.8;
  animation: parallax linear;
  animation-timeline: scroll();
}
#content-2 .bday-image-column .cat-cake-container #cat-cake {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  transform-origin: center;
  transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: scale, opacity;
}
#content-2 .bday-image-column .cat-cake-container #cat-cake:hover {
  scale: 1.1;
  opacity: 0.8;
}
#content-2 .bday-image-column .cat-cake-container #cat-cake.vanished {
  animation: 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards gone-animation;
}
#content-2 .arrow-two-column {
  grid-area: 1/1/2/12;
  position: relative;
}
#content-2 .arrow-two-column #arrow-two {
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 10000;
}
#content-2 .arrow-two-column #arrow-two.in-view path {
  animation: 800ms cubic-bezier(0.39, 0.575, 0.365, 1) forwards drawPath;
}
#content-2 .arrow-two-column p {
  position: absolute;
  bottom: -48px;
  left: 120px;
}
#content-2 .title-column {
  grid-area: 1/2/2/4;
  position: relative;
}
#content-2 .title-column h6 {
  top: 80px;
  position: relative;
  display: inline-block;
}
#content-2 .title-column h6 #number-one {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translate(-100%, -50%);
  width: 47px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content-2 .title-column h6 #number-one .number {
  width: 100%;
  height: 100%;
  background-image: url("../assets/number-1.svg");
  background-position: center;
  background-repeat: no-repeat;
}
#content-2 .title-column h6 #number-one .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/number-circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: 3000ms steps(3) infinite animate-steps;
}
#content-2 .title-column h6 #arrow-one {
  position: absolute;
  right: -10px;
  top: -60px;
  transform: translate(100%, 0);
}
#content-2 .title-column h6 #arrow-one.in-view path {
  animation: 1200ms cubic-bezier(0.205, 0.6, 0.165, 0.8) drawPath forwards;
}
#content-2 .title-column h6 #arrow-one.in-view path:nth-child(2) {
  animation: 400ms ease-out 1000ms drawPath forwards;
}
#content-2 .bday-column {
  position: relative;
  grid-area: 1/6/2/12;
}
#content-2 .bday-column #bday-letter {
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  text-align: right;
}
#content-2 .bday-column #bday-letter .letter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#content-2 .bday-column #bday-letter .letter .letter-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#content-2 .bday-column #bday-letter .letter .letter-body p {
  position: relative;
}
#content-2 .bday-column #bday-letter .letter .letter-body p .alien-wtf-container {
  position: absolute;
  right: -5px;
  top: 300px;
  transform: translate(100%, 0);
  cursor: pointer;
  --parallax-strength: 2.3;
  animation: parallax linear;
  animation-timeline: scroll();
}
#content-2 .bday-column #bday-letter .letter .letter-body p .alien-wtf-container #alien-wtf {
  width: 100%;
  transform-origin: center;
  transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: scale, opacity;
}
#content-2 .bday-column #bday-letter .letter .letter-body p .alien-wtf-container #alien-wtf:hover {
  scale: 1.1;
  opacity: 0.8;
}
#content-2 .bday-column #bday-letter .letter .letter-body p .alien-wtf-container #alien-wtf.vanished {
  animation: 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards gone-animation;
}
#content-2 .bday-column #bday-letter h5 {
  line-height: 200%;
}
#content-2 .bday-column #bday-letter h5 span {
  position: relative;
  color: #f9cff4;
  font-weight: 700;
}
#content-2 .bday-column #bday-letter h5 span .cat-happy-container {
  z-index: -1;
  cursor: pointer;
  position: absolute;
  top: -125px;
  transform: translateY(-100%);
  right: -20px;
  width: 158px;
  --parallax-strength: -1.2;
  animation: parallax linear;
  animation-timeline: scroll();
}
#content-2 .bday-column #bday-letter h5 span .cat-happy-container img {
  width: 100%;
  transform-origin: center;
  transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: scale, opacity;
}
#content-2 .bday-column #bday-letter h5 span .cat-happy-container img:hover {
  scale: 1.3;
  opacity: 0.8;
}
#content-2 .bday-column #bday-letter h5 span .cat-happy-container img.vanished {
  animation: 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards gone-animation;
}
#content-2 .bday-column #bday-letter p {
  text-wrap: wrap;
  line-height: 1.7;
  font-weight: 400;
}
#content-2 .bday-column #bday-letter p span {
  font-size: 14px;
}
#content-2 .bday-column #bday-letter p span:nth-child(1) {
  opacity: 60%;
}
#content-2 .bday-column #bday-letter .author {
  font-size: 14px;
  line-height: normal;
}
#content-2 .bday-column #bday-letter .author span {
  position: relative;
  color: #b1d7ff;
}

@keyframes evil-cat-visible {
  to {
    transform: translateX(800%);
  }
}
#content-3 {
  height: 1024px;
  position: relative;
}
#content-3 .opportunity-column {
  grid-area: 1/3/2/7;
  position: relative;
}
#content-3 .opportunity-column p {
  position: absolute;
  top: 178px;
  left: 40px;
}
#content-3 #pogi-png {
  position: absolute;
  top: 0%;
  left: 50%;
  translate: -50% -50%;
  --parallax-strength: -2.2;
  animation: parallax linear;
  animation-timeline: scroll();
}
#content-3 .secondly-column {
  position: relative;
  height: 100%;
  grid-area: 1/2/2/4;
}
#content-3 .secondly-column .text {
  position: absolute;
  bottom: 42px;
}
#content-3 .secondly-column .text h6 {
  line-height: 200%;
  position: relative;
}
#content-3 .secondly-column .text h6 #number-two {
  position: absolute;
  width: 48px;
  top: 3px;
  right: -10px;
  translate: 100% 0;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content-3 .secondly-column .text h6 #number-two .number {
  width: 100%;
  height: 100%;
  background-image: url("../assets/number-two.svg");
  background-position: center;
  background-repeat: no-repeat;
}
#content-3 .secondly-column .text h6 #number-two .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/number-circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: 3000ms steps(3) infinite animate-steps;
}
#content-3 .cat-evil-column {
  grid-area: 1/1/2/13;
  position: relative;
}
#content-3 .cat-evil-column #cat-evil {
  position: absolute;
  top: 60%;
  left: 0;
  animation: evil-cat-visible ease-in-out;
  animation-timeline: view();
  animation-range: block 900px;
}

#arrow-three {
  position: absolute;
  top: -70px;
  left: 0;
  translate: -100% -100%;
}
#arrow-three.in-view path {
  animation: 1200ms ease-out forwards drawPath;
}

#content-4 {
  height: 1024px;
}
#content-4 .text-column {
  position: relative;
}
#content-4 .text-column:nth-child(1) {
  grid-area: 1/7/2/12;
}
#content-4 .text-column:nth-child(1) > div {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  text-align: right;
}
#content-4 .text-column:nth-child(1) > div .alien-awkward-container {
  cursor: pointer;
  z-index: -1;
  position: absolute;
  top: -670px;
  left: 60%;
  translate: -50% -100%;
  --parallax-strength: -1.8;
  animation: parallax linear;
  animation-timeline: scroll();
}
#content-4 .text-column:nth-child(1) > div .alien-awkward-container #alien-awkward {
  transform-origin: center;
  transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: scale, opacity;
}
#content-4 .text-column:nth-child(1) > div .alien-awkward-container #alien-awkward.vanished {
  animation: 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards gone-animation;
}
#content-4 .text-column:nth-child(1) > div .alien-awkward-container #alien-awkward:hover {
  scale: 1.1;
  opacity: 0.8;
}
#content-4 .text-column:nth-child(1) > div .oval-blur {
  z-index: -2;
  position: absolute;
  top: 50%;
  left: calc(50% + 20px);
  translate: -50% -50%;
  height: 290px;
  width: 500px;
  background-color: #3dffa2;
  opacity: 0.1;
  border-radius: 50%;
  filter: blur(40px);
}
#content-4 .text-column:nth-child(2) {
  grid-area: 1/1/2/6;
}
#content-4 .text-column:nth-child(2) p {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
}
#content-4 .text-column:nth-child(2) p .shark-cry-container {
  cursor: pointer;
  position: absolute;
  top: -1050px;
  right: 0;
  translate: 100% -50%;
  --parallax-strength: -2.5;
  animation: parallax linear;
  animation-timeline: scroll();
}
#content-4 .text-column:nth-child(2) p .shark-cry-container #shark-cry {
  transform-origin: center;
  transition: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: scale, opacity;
}
#content-4 .text-column:nth-child(2) p .shark-cry-container #shark-cry:hover {
  scale: 1.1;
  opacity: 0.8;
}
#content-4 .text-column:nth-child(2) p .shark-cry-container #shark-cry.vanished {
  animation: 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards gone-animation;
}

.content-5-container {
  height: 3072px;
  width: 100%;
}

.white-space {
  width: 100%;
  height: 150vh;
}

#content-5 {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100vw;
}
#content-5 .continue-column {
  grid-area: 1/1/2/4;
  position: relative;
}
#content-5 .continue-column .arrow-five-container {
  position: absolute;
  bottom: 10px;
  left: 80%;
}
#content-5 .continue-column .arrow-five-container #arrow-five.in-view path {
  animation: 1000ms cubic-bezier(0.205, 0.6, 0.165, 0.9) forwards drawPath;
}
#content-5 .continue-column .arrow-five-container #arrow-five.in-view path:nth-child(2) {
  animation: 1400ms ease-out 400ms drawPath forwards;
}
#content-5 .continue-column #continue-svg {
  position: absolute;
  bottom: 9%;
  left: 15%;
}
#content-5 .text-column {
  position: relative;
}
#content-5 .text-column:nth-child(1) {
  grid-area: 1/7/2/12;
}
#content-5 .text-column:nth-child(1) > div {
  text-align: right;
  position: absolute;
  top: 50px;
}
#content-5 .text-column:nth-child(1) > div img {
  position: absolute;
  top: 1860px;
  translate: -450px -50%;
  --parallax-strength: 4;
  animation: parallax linear;
  animation-timeline: scroll();
}
#content-5 .text-column:nth-child(2) {
  grid-area: 1/2/2/6;
}
#content-5 .text-column:nth-child(2) p {
  position: absolute;
  top: 60%;
  translate: 0 -50%;
}
#content-5 .text-column:nth-child(3) {
  grid-area: 1/9/2/12;
}
#content-5 .text-column:nth-child(3) p {
  position: absolute;
  right: 0;
  bottom: 12%;
  text-align: right;
}
#content-5 .text-column:nth-child(3) p span {
  color: var(--clr-her);
  text-decoration: underline;
}

.flower-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1000;
}
.flower-container .white-space {
  background: #a87465;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flower-container .white-space::after {
  content: "*insert whitespace* (empty space - cuz ik u dont know what it is 😝)";
  color: var(--clr-dark);
}

#flower-content {
  height: 1024px;
}
#flower-content .cat-flower-column {
  grid-area: 1/1/2/13;
  position: relative;
}
#flower-content .cat-flower-column #flower-cat {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  height: 477px;
  width: 100%;
  background-image: url("../assets/cat-flower.gif");
  background-repeat: no-repeat;
}
#flower-content .cat-flower-column #flower-cat .flower-text-one {
  letter-spacing: 6px;
  text-transform: capitalize;
  position: absolute;
  top: -20px;
  left: -24px;
  translate: 0 -100%;
}
#flower-content .cat-flower-column #flower-cat .flower-text-one #singular-heart {
  position: absolute;
  right: -16px;
  top: -24px;
}
#flower-content .cat-flower-column #flower-cat .text-container {
  position: absolute;
  bottom: 0;
  right: 32px;
  translate: 0 50%;
  width: 260px;
  text-align: right;
  color: var(--clr-dark);
}
#flower-content .cat-flower-column #flower-cat .text-container #arrow-four {
  width: 60px;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  translate: -50% 100%;
  background-image: url("../assets/arrow-four.svg");
  background-repeat: no-repeat;
  animation: 1500ms steps(3) infinite animate-steps;
}
#flower-content .cat-flower-column #flower-cat .text-container .scroll-button {
  position: absolute;
  left: 50px;
  bottom: -50%;
  translate: -100% 200%;
  padding: 8px 56px;
  border-radius: 6px;
  background-color: #31253a;
  font-size: 14px;
  font-weight: 400;
  color: var(--clr-light);
  letter-spacing: 2px;
  text-wrap: nowrap;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: scale;
}
#flower-content .cat-flower-column #flower-cat .text-container .scroll-button::after {
  content: "Click, for the better experience or maybe not and just scroll";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
#flower-content .cat-flower-column #flower-cat .text-container .scroll-button::before {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--clr-light);
  border-radius: 6px;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) width;
}
#flower-content .cat-flower-column #flower-cat .text-container .scroll-button:hover {
  scale: 1.03;
  color: var(--clr-dark);
}
#flower-content .cat-flower-column #flower-cat .text-container .scroll-button:hover::before {
  width: 100%;
}

#flower-page {
  background: #a87465;
  position: relative;
  width: 100vw;
  height: 100vh;
}
#flower-page #spline-flower {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#flower-page #spline-flower canvas {
  cursor: grab;
}
#flower-page #spline-flower canvas:active {
  cursor: grabbing;
}
#flower-page .text-container {
  z-index: 100;
  position: absolute;
}
#flower-page .text-container p {
  color: var(--clr-dark);
  font-weight: 500;
}
#flower-page .text-container:nth-child(1) {
  bottom: 25%;
  right: 5%;
  translate: -50% -50%;
}
#flower-page .text-container:nth-child(1) p {
  text-align: right;
  opacity: 0;
  filter: blur(8px);
  transform: translateX(100%);
  transition: 1800ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: opacity, filter, transform;
}
#flower-page .text-container:nth-child(1).active p {
  opacity: 1;
  filter: none;
  transform: translateX(0);
}
#flower-page .text-container:nth-child(1).active p:nth-child(2) {
  transition-delay: 100ms;
}
#flower-page .text-container:nth-child(1).active p:nth-child(3) {
  transition-delay: 150ms;
}
#flower-page .text-container:nth-child(2) {
  left: 50%;
  top: 15%;
  translate: -50% -50%;
}
#flower-page .text-container:nth-child(2).active p {
  transform: translateY(0);
}
#flower-page .text-container:nth-child(2) p {
  letter-spacing: 3px;
  transform: translateY(40px);
  transition: 1500ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms transform;
}
#flower-page .text-container:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  translate: 0 100%;
  background-color: #a87465;
}

#music {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: 200.63px;
  height: 200.67px;
  cursor: pointer;
  scale: 0.9;
  opacity: 0.8;
  transition: 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: opacity, scale;
  display: flex;
  align-items: center;
  justify-content: center;
}
#music.playing {
  scale: 1;
}
#music:hover {
  opacity: 1;
}
#music:hover .music-about {
  animation-play-state: paused;
}
#music:hover .music-image .action-btn {
  opacity: 1;
}
#music .music-about {
  position: absolute;
  pointer-events: none;
  scale: 0.7;
  opacity: 0;
  transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-property: opacity, scale;
  animation: 46000ms linear infinite rotate;
}
#music .music-about.active {
  scale: 1;
  opacity: 1;
}
#music .music-about text {
  fill: #D6FFF8;
  white-space: "pre";
  font-family: "Poppins";
  font-size: 16;
  font-weight: 500;
  letter-spacing: 0em;
}
#music .music-image {
  position: relative;
  aspect-ratio: 1/1;
  width: 136px;
  border-radius: 50%;
  opacity: 0.8;
  transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1) opacity;
}
#music .music-image .action-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background: rgba(51, 34, 24, 0.8);
  opacity: 0;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) opacity;
}
#music .music-image img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}/*# sourceMappingURL=index.css.map */